

<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__settings">
        <svg class="logo__icon  logo__icon--white">
          <use xlink:href="#logo"></use>
        </svg>
        <div class="footer__menu  footer__menu--settings" data-spollers data-one-spoller>
          <div class="footer__item  footer__item--settings">
            <button class="footer__item-title  footer__item-title--settings" type="button" data-spoller>
              <div>$ USD</div>

              <svg class="footer__icon">
                <use xlink:href="#arrow-down"></use>
              </svg>
            </button>

            <ul class="footer__list" hidden>
              <li class="footer__list-item">
                <button class="footer__list-btn" type="button">rub</button>
              </li>
              <li class="footer__list-item">
                <button class="footer__list-btn" type="button">eur</button>
              </li>
            </ul>
          </div>

          <div class="footer__item  footer__item--settings">
            <button class="footer__item-title  footer__item-title--settings" type="button" data-spoller>
              <div>English</div>

              <svg class="footer__icon">
                <use xlink:href="#arrow-down"></use>
              </svg>
            </button>

            <ul class="footer__list" hidden>
              <li class="footer__list-item">
                <button class="footer__list-btn" type="button">Russian</button>
              </li>
              <li class="footer__list-item">
                <button class="footer__list-btn" type="button">German</button>
              </li>
            </ul>
          </div>

        </div>
      </div>


      <div class="footer__menu" data-spollers='780,max' data-one-spoller>
        <div class="footer__item">
          <button class="footer__item-title" type="button" tabindex="-1" data-spoller>Products</button>

          <ul class="footer__list" hidden>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Website Templates</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Websites</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Domains</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Online Stores</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Point of Sale</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Extensions</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Marketing Tools</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Email Marketing</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Scheduling</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Stories</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Professional Email</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Logo Maker</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Enterprise</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Pricing</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Feature List</a>
            </li>
          </ul>
        </div>

        <div class="footer__item">
          <button class="footer__item-title" type="button" tabindex="-1" data-spoller>Customers</button>

          <ul class="footer__list" hidden>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Featured</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Businesses</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Photographers</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Bloggers</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Artists</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Restaurants</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Musicians</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Weddings</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Students</a>
            </li>
          </ul>
        </div>
        <div class="footer__item">
          <button class="footer__item-title" type="button" tabindex="-1" data-spoller>Company</button>

          <ul class="footer__list" hidden>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">About</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Careers</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Our Brand</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Affiliates</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Press & Media</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Terms of Service</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Privacy Policy</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Contact Us</a>
            </li>
          </ul>
        </div>

        <div class="footer__item">
          <button class="footer__item-title" type="button" tabindex="-1" data-spoller>Community</button>

          <ul class="footer__list" hidden>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Help & Support</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Hire an Expert</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Forum</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Webinars</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Developer Platform</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Circle</a>
            </li>
          </ul>
        </div>

        <div class="footer__item">
          <button class="footer__item-title" type="button" tabindex="-1" data-spoller>Follow</button>

          <ul class="footer__list" hidden>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Newsroom</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Squarespace Blog</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Creative Blog</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Engineering Blog</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Service Status</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#" target="_blank">Instagram</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#" target="_blank">YouTube</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#" target="_blank">LinkedIn</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#" target="_blank">Facebook</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#" target="_blank">Twitter</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
