@media (max-width: 991px) {
  /* header */
  .intro__inner {
      padding: 8rem 0 5rem;
  }
  .header__item {
      &--hidden {
          display: none;
      }
  }
  /* support */
  .support__inner {
      flex-direction: column-reverse;
  }
  .support__content {
      margin-left: 0;
      margin-bottom: 2rem;
      text-align: center;
  }
  /* footer */
  .footer__inner {
      flex-direction: column-reverse;
  }
  .footer__settings {
      display: flex;
      margin-top: 3rem;

      .footer__menu  {
          display: flex;
          justify-content: start;
      }
      .footer__item   {
          margin: 0 2rem;
      }
      .logo__icon {
          margin: 0;
      }
  }
}
@media (max-width: 780px) {
  body.lock {
      overflow: hidden;
  }
  .header {
      &__menu {
          flex-direction: column;
          align-items: start;
          justify-content: start;
          height: 100%;
          overflow: auto;
          padding-left: 1rem;

          background: $black;

          position: fixed;
          left: -100%;
          top: 0;
          transition: left 0.5s ease;
          .logo {
              align-self: center;
              padding:1.4rem 0 5rem;
          }
      }
      &__list {
          display: block;
          padding-left: 1.5rem;
          &:first-child {
              padding-top: 7rem;
          }
      }
      &__item {
          margin-bottom: 2rem;
          &:not(:first-child) {
              margin-left: 0;
          }
      }
      &__link {
          font-size: 3rem;
      }
  }
  .header__hamburger {
      display: block;
  }
  .active {
      .header__menu {
          left: 0;
      }
      .header__hamburger {
          span:nth-child(1) {
              animation: ease 0.5s top forwards;
          }
          span:nth-child(2) {
              animation: ease 0.5s middle forwards;
          }
          span:nth-child(3) {
              animation: ease 0.5s bottom forwards;
          }
      }
  }
  /* tools */
  .tools {
      padding: 2rem 0 4rem;
  }
  .tools__content {
      margin-top: 4rem;
      flex-direction: column;
      align-items: center;
  }
  .tools__item {
      margin-bottom: 2.5rem;
  }
  /* providing */
  .providing {
      padding: 5rem 0;
  }
  .providing__tab{
      flex-direction: column-reverse;
  }
  .providing__content {
      margin-top: 1rem;
  }
  .providing__text {
      max-width: 100%;
      margin-right: 0;
  }
  .providing__btns {
      margin-right: 1rem;
      margin-top: 3rem;
  }
  /* section */
  .section {
      padding: 7rem 0;
      &-content {
          padding: 4rem 0;
      }
      &--black {
          padding: 4rem 0;
      }
  }
  .section__inner {
      &--content {
          margin-top: 6rem;
      }
  }
  .section__item {
      margin-bottom: 8rem;
  }

  /* footer */
  .footer {
      padding: 8rem 0 4rem;
  }
  .footer__menu {
      flex-direction: column;
      &--settings {
          flex-direction: row;
          .footer__item {
              margin: 0 1rem;
          }
      }
  }
}
@media (max-width: 700px) {
  /* Logo */
  .logo__icon {
      width: 2.6rem;
  }
  .logo__title {
      width: 12rem;
  }
  /* templates */
  .templates {
      padding: 4rem 0;
  }
  /* burger */
  .burger {
      display: block;
  }
  /* start */
  .start {
      padding: 4rem 0;
      .section__link {
          margin-top: 0;
          margin-bottom: 2rem;
      }
  }
  .start__left {
      width: 100%;
      text-align: center;
  }
  .start__title {
      margin: 0 auto 2rem;
      line-height: 1.2;
  }
  .start__list {
      margin-left: 0;
      width: 80%;
  }
  .start__inner {
      flex-direction: column;
      align-items: center;
  }
  /* pricing */
  .pricing {
      padding: 4rem 0;
  }
  /* offers */
  .offers {
      justify-content: space-between;
      margin: 4rem 0 3rem;
  }
  .offers__item {
      margin: 0 1rem;
  }
  .offers__right {
      width: 60%;
  }
  .offers__left {
      width: 40%;
  }
  /* features */
  .features__title {
      width: 40%;
  }
  .features__inner {
      width: 60%;
  }
  .features__plans {
      &-title {
          margin: 2rem 0 3rem;
      }
      &-list {
          width: 100%;
      }
      &-text {
          max-width: 100%;
      }
      &-content {
          flex-direction: column;
      }
  }
  /* questions */
  .questions {
      padding: 4rem 0;
  }
  /* support */
  .support {
      padding: 4rem 0;
  }
  /* section */
  .section {
      &--white {
          padding: 0;
          .container {
              padding: 0;
          }
          .section__image {
              width: 100%;
              img {
                  width: 100%;
              }
              margin-bottom: 1rem;
          }
      }
  }
  .section__item {
      flex-direction: column;
      &:nth-child(even) {
          flex-direction: column-reverse;
      }
  }
  .section__content {
      max-width: 100%;
      margin-bottom: 2rem;
  }
}
@media (max-width: 480px) {
  .offers__duration-text {
      display: none;
  }
  .start__list {
    width: 100%;
  }
  .footer {
      padding: 4rem 0;
  }
}
